@charset "UTF-8";
/* CSS Document */

body{
	background-image:url(../img/firstBG.jpg);
	background-repeat:no-repeat;
}

.hero-unit{
    background-color: rgba(81, 173, 225, 0); // use rgba and set Opacity to 0 for transparent.
 }